.container{
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
#title{
  color: white;
  font-size: 3rem;
  font-weight: 700;
}