.container{
    padding: 5px;
    margin: 5px;
    background-blend-mode: multiply,multiply;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 4px;
}
#hero-title{
    color: white;
    font-size: 4rem;
}
.user-cards{
    /* background-color: white; */
    padding: 25px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}